.photo{
	float: left;
	border: solid red 4px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
body{
	
background-color: black;
}

p{
	color:white;
	font-size: 20px;
	word-spacing: 2px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
}

.head p{
	
	color:white;
	font-size: 30px;
}
h3{
	background-color: green;
	color: white;
	font-size: 30px;
}




*{
	margin: 0px;
	padding: 0px;
/*box-sizing: border-box;*/
}
.clockstyle{
		
		
			padding: 10px;
			color:white;
			font-size: 30px;
			letter-spacing:5px;
			margin-left: 20px;
			font-weight: bold;
			font-family:Hobo Std,Blazed,Chapaza Italic,Bloody,Future Earth;
			

		}
		.menu{
	background-color: rgba(0,0,0,0.4);
	height: 70px;
}

.title{
	
	float: right;
	margin-top: 20px;
	margin-right: 100px;
}
.name{
	width: 900px;
	position: absolute;
	top: 50%;
	left:10%;
	
	}

.copyright{
	color:white;
	margin-left: 20px;
	margin-top: 550px;
	background-color: rgb(0,0,0,0.3);
}
.title li {
	
	display: inline-block;
	margin-left: 40px;
	color: white;
	}
.title li a{

	color:white;
	text-align: right;
	text-transform: uppercase;
	text-decoration: none;
}	
	.title li a:hover{
border-bottom: 2px solid purple;

}
#h:hover{
	color: orange;
}
#c:hover{
	color: orange;
}#s{
	color: orange;
}#f:hover{
	color: orange;
}#i:hover{
	color: orange;
}

.story{
	
	display: none;

}

.title ul li:hover .story{
	display: block;
	position: absolute;
	background: black;



}
.title ul li:hover .story ul li{

display: block;
margin:10px;


}
.story ul li:hover{
	font-size: 20px;
}
.contact{
	display: none;
	font-weight: 10px;

}
.contact ul li{
	font-size: 15px;
	margin: 10px;

}
.contact ul li:hover{
	font-size: 20px;
}
.contact ul li a{
	text-transform: lowercase;
}
.title li:hover .contact{

	display: block;
	position: absolute;
	background: black;
}
.title li:hover .contact ul li{
	display: block;
}
.follow{
	display: none;
	font-weight: 10px;

}
.follow ul li{
	font-size: 15px;
	margin: 10px;

}
.follow ul li:hover{
	font-size: 18px;
}
.title li:hover .follow{
	display: block;
	position: absolute;
	background: black;

}
.title li:hover .follow ul li{
	display: block;
}